/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-feb-2019, 15:14:08
    Author     : jhovangallardo
*/

*{
    padding: 0px;
    margin: 0px;
}

html,body{
    width: 100%;
    height: 100%;
}
body *{
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 10%;
    padding: 10px;
}

main{
    width: 100%;
    height: 85%;
}

footer{
    width: 100%;
    height: 5%;
}

main>section{
    width: 80%;
    height: 100%;
    float: left;
    border-style : double;
    border-color : black;
}

main>aside{
    width: 20%;
    height: 100%;
    float: left;
    padding: 20px;
    border-style : double;
    border-color : black;

}


